<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaric.alimobile"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Android Test Support. -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.aaric.alimobile" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Android Test Support. -->
        <uses-library android:name="android.test.runner" />

        <activity android:name="com.aaric.alimobile.WelcomeActivity_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aaric.alimobile.GuidanceActivity_"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity android:name="com.aaric.alimobile.MainActivity_"
            android:launchMode="singleTop" />
        <activity android:name="com.aaric.alimobile.ui.ProfileActivity_" />
        
        <service android:name="com.aaric.alimobile.service.AliClientService_" />
        
    </application>

</manifest>